<div class="nav-box">
	<h4>Recent Work</h4>

	<ul class="recent-list">
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
	</ul>
</div>

<div class="year-box">
	<h4>2013</h4>

	<ul class="tag-list">
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
	</ul>
</div>

<div class="year-box">
	<h4>2012</h4>

	<ul class="tag-list">
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
	</ul>
</div>

<div class="year-box">
	<h4>2011</h4>

	<ul class="tag-list">
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
		<li><a href="#">Stuff I've done</a></li>
	</ul>
</div>
